@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:300,400,700")

$primary-color: #86C232

$dark-color: #333333
$body-bg: #e7e7e2
$light-color: lighten($body-bg, 25%)

$gray-color: #555555

$base-font-family: "Roboto Slab", "Courier New", serif

$highlight-color: #86C232


$bg-color-light: $light-color

body
  min-height: 100vh
  display: flex
  flex-direction: column

main
    flex: 1

.panel
    background-color: lighten($body-bg, 25%)

#toaster
    z-index: 9999
    position: fixed
    top: 0
    margin: 0.5em

.toast
    width: 75%
    opacity: 0.8
    -webkit-backdrop-filter: blur(5px) !important
    backdrop-filter: blur(5px) !important


.bar-lg
    height: 2.2em !important


.bar-lg > .bar-item
    height: 2.2em
    line-height: 2.2em !important
    font-weight: bold


#results > .column
    line-height: 1.8em
    font-weight: bold
    text-align: center
    vertical-align: text-bottom

small
    font-size: 0.7em

footer
    font-size: 0.7em
    text-align: right
    opacity: 0.5


// Import full Spectre source code
@import "spectre/src/spectre"
@import "spectre/src/spectre-exp"
