html, body {
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
    flex: 1;
}

#toaster {
    z-index: 9999;
    position: fixed;
    top: 0;
    margin: 0.5em;
}
.toast {
    width: 75%;
    opacity: 0.8;
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important;
}

.bar-lg {
    height: 2em !important;
}

.bar-lg > .bar-item {
    height: 2.2em;
    line-height: 2em;
    font-weight: bold;
}

#results > .column {
    line-height: 1.8em;
    font-weight: bold;
    text-align: center;
    vertical-align: text-bottom;
}
footer {
    font-size: 0.7em;
    text-align: right;
    opacity: 0.5;
}