<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='quizzer.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='spectrum.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.css"
    />
    <!-- socketio -->
    <script
      src="https://cdn.socket.io/4.6.0/socket.io.min.js"
      integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery, Popper, Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lrsjng.jquery-qrcode/0.14.0/jquery-qrcode.min.js"></script>
    <script src="{{ url_for('static', filename='spectrum.js') }}"></script>

    <script src="{{ url_for('static', filename='quizzer.js') }}"></script>
    <script src="{{ url_for('static', filename='quizzer.game.js') }}"></script>
    {% block head %}{% endblock %}

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta name="author" content="Christian-Alexander Dudek" />
    <meta
      name="description"
      content="Quiz application using flask and SocketIO"
    />
  </head>
  <body>
    <div id="toaster" class="container">
      <div class="container grid-md">
        {%- with flashes = get_flashed_messages(with_categories=true) %} {%- if
        flashes %} {%- for type, msg in flashes %}
        <div class="toast toast-{{type}}">
          <button class="fas fa-close btn btn-clear float-right"></button>
          {{msg}}
        </div>
        {%- endfor %} {%- endif %} {%- endwith %}
      </div>
    </div>
    <main class="container grid-md">
      {% block content %} {% endblock %} {#{{session}}#}
      <footer>
        &copy; 2018-2019
        <a href="https://www.dudek.me" target="_BLANK">dudek.me</a> · Made with
        {#<i class="fas fa-heart"></i>,#} <i class="far fa-mug-hot"></i> and
        <i class="fab fa-python"></i> {{g.version}}
        <div>
          {% if session.player_id %}Player#{{session.player_id}}{% endif %} {%
          if game %}· Game#{{game.code}}{% endif %}
        </div>
      </footer>
    </main>
  </body>
</html>
