{% extends 'base.html' %}
{% block title %}Quizzer {{game.code}} running{% endblock %}

{% block content %}
<div class="panel">
  <div class="panel-header">
    <progress class="progress" value="{{game.progress+1}}" max="{{game.questions}}"></progress>
    <div class="panel-title h1 text-center text-bold" id="timer">{{timer}}</div>
    <div class="panel-subtitle h5">{{question.title|safe}}</div>
  </div>
  <div class="panel-body columns">

    {%- for answer in answers -%}
    <div class="column mt-2 col-md-12 col-6">
      <button id="answer-{{answer.id}}" {%- if game.status == 0 -%}style="visibility: hidden;"{%- endif -%} class="answer btn btn-lg btn-block {% if answer.guess == 1 -%}btn-primary{%- endif -%}"  data-answer="{{answer.id}}" {%- if game.status != 1 -%}disabled{%- endif -%}>
        <div class="text-ellipsis">{{"ABCDEFGHIJ"[loop.index0]}}: {{answer.title}}</div>
      </button>
    </div>
    {%- endfor -%}

  </div>
  <div class="panel-footer text-center text-gray small">
  </div>
</div>
<div class="text-center text-gray"><small>Quizzing as {{session.player_id}} in {{session.game_id}}</small></div>
{% endblock %}