{% extends 'base.html' %}
{% block title %}Quizzer{% endblock %}

{% block content %}
<div class="panel">
  <div class="panel-header text-center">
    <i class="fas fa-user h1"></i>
      <i class="far fa-comment h1"></i>
    <i class="fas fa-users h1"></i>
    <div class="panel-title h3 mt-10">Quizzer</div>
  </div>

  <div class="panel-body">

  <div class="columns">
    <div class="column col-6 col-mx-auto col-xs-12">
      <div class="input-group">
        <span class="input-group-addon addon-lg">
          <i class="fas fa-question"></i>
        </span>
        <input class="form-input input-lg" type="text" placeholder="Game Code">
        <button name="join" class="btn btn-primary input-group-btn btn-lg">Join game</button>
      </div>
    </div>
  </div>

  </div>
  <div class="panel-footer">
    <div class="small text-right">
      <a href="{{url_for('admin.login')}}" class="btn btn-sm btn-primary">Author Login</a>
      <a href="{{url_for('admin.register')}}" class="btn btn-sm btn-secondary">Author Register</a>
    </div>
  </div>
</div>
{% endblock %}