{% extends 'base.html' %} {% block head %}{% endblock %} {% block title
%}Quizzer Lobby {{game.code}}{% endblock %} {% block content %}
<div class="panel text-center">
  <div class="panel-header">
    <i class="fas fa-users h1"></i>
    <div class="panel-title h4">{{game.title}}</div>
    <div class="panel-subtitle h6 text-gray">{{game.body}}</div>
  </div>

  <div class="panel-body">
    <h2 class="text-bold">
      <span id="counter">{{players|length}}</span> Players connected
    </h2>
    {% if not game.anonymous %}
    <div id="lobby">
      {% for p in players%}
      <div class="chip">
        <figure
          class="avatar avatar-sm"
          style="background-color: {{p.color}}"
        ></figure>
        {{p.name}}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  {% if not player %}
  <div class="panel-footer">
    {% if not game.anonymous%}
    <span class="input-group input-inline">
      <span class="input-group-addon"
        ><i class="fas fa-palette fa-fw"></i
      ></span>
      <input id="color" type="color" class="form-input" />
      {#
      <button
        id="colorbutton"
        type="color"
        class="jscolor {valueElement:'color', value: 'be1e3c'} form-input tooltip"
        data-tooltip="Select a color"
      >
        <i class="fas fa-palette fa-fw"></i>
      </button>
      #}
    </span>

    <span class="input-group input-inline">
      <span class="input-group-addon"><i class="fas fa-user fa-fw"></i></span>
      <input type="text" id="username" class="form-input" placeholder="Name" />
      <button class="btn btn-primary input-group-btn" id="join">
        join now!
      </button>
      <div id="timer"></div>
    </span>
    {% else %}
    <button class="btn btn-primary input-group-btn" id="join">join now!</button>
    {% endif %}
  </div>
  {% else %}
  <div class="panel-footer">
    <div class="text-bold">Please wait for the game to start...</div>
  </div>
  {% endif %}
</div>

{% endblock %}
