{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block title %}Quizzer Results {{game.code}}{% endblock %}

{% block content %}
    <div class="panel">
      <div class="panel-header text-center">
        <i class="fas fa-trophy h1"></i>
        <div class="panel-title h4">{{game.title}}</div>
        <div class="panel-subtitle h6 text-gray">{{game.body}}</div>
      </div>
      <div class="panel-footer text-center">
        <div class="panel-title text-bold h4">{{correct}}/{{ questions|length }}</div>
      </div>
      <div class="panel-body">
        {% for question in questions %}
        <div class="card {% if question.correct == 1 -%}bg-success{%- else -%}bg-error{%- endif -%}
        ">
          <div class="card-header">
            {% if question.correct == 1 %}
            <div class="float-right"><i class="fas fa-check fa-2x"></i></div>
            {% else %}
            <div class="float-right"><i class="fas fa-times fa-2x"></i></div>
            {% endif %}
            <div class="card-title text-left">{{question.title|safe}}</div>
            <div class="card-subtitle text-bold text-left">{{question.answer}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="panel-footer text-center">
        <div class="panel-title text-bold h4">{{correct}}/{{ questions|length }}</div>
      </div>
</div>
{% endblock %}