{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block title %}Quizzer Results {{game.code}}{% endblock %}

{% block content %}
    <div class="panel">
      <div class="panel-header text-center">
        <i class="fas fa-trophy h1"></i>
        <div class="panel-title h4">{{game.title}}</div>
        <div class="panel-subtitle h6">{{game.body}}</div>
      </div>
      <div class="panel-body">
        {% for player in players%}
        <div class="tile">
          <div class="tile-icon">
            <h1>{{player.place}}.</h1>
          </div>
          <div class="tile-content">
            <p class="tile-title text-bold">{{player.name}}</p>
            <p class="tile-subtitle">
                              <div class="bar bar-sm">
                <div class="bar-item tooltip" data-tooltip="{{(player.points/game.questions*100)|round(2)}}%" style="width: {{player.points/game.questions*100}}%;"></div>
              </div>
            </p>
          </div>
          <div class="tile-action">
              {{player.points}}/{{game.questions}}
          </div>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}