{% extends 'view/base.html' %}
{% block title %}Quizzer {{game.code}} running{% endblock %}

{% block content %}
<div class="panel">
  <div class="panel-header">
    <progress class="progress" value="{{game.progress+1}}" max="{{game.questions}}"></progress>
    <div class="panel-title h1 text-center text-bold"><span id="timer">{{timer}}</span></div>
    <div class="panel-subtitle h2">{{question.title|safe}}</div>
  </div>
  <div class="panel-body columns">
    {%- for answer in answers -%}
    <div class="column mt-2 col-12">
      <div class="card">
        <div class="card-header answer" id="answer-{{answer.id}}" {%- if game.status == 0 -%}style="visibility: hidden;"{%- endif -%}>
          <div class="card-title h5"><span class="text-bold">{{"ABCDEFGHIJ"[loop.index0]}}</span>: {{answer.title}}</div>
        </div>
      </div>
    </div>
    {%- endfor -%}

  </div>
  <div class="panel-footer">
  </div>
</div>
<div class="text-center text-gray"><small>Watching {{game.code}}</small></div>
{% endblock %}