{% extends 'view/base.html' %}
{% block head %}{% endblock %}
{% block title %}Quizzer Lobby {{game.code}}{% endblock %}

{% block content %}
<div class="panel text-center">
  <div class="panel-header">
    <i class="fas fa-users h1"></i>
    <div class="panel-title h4">{{game.title}}</div>
    <div class="panel-subtitle h6 text-gray">{{game.body}}</div>
  </div>

  <div class="panel-body">
    <div class="qrcode" data-qrcode="{{game.code}}"></div>
    <div>{{url}}</div>
    <p class="panel-title h4">
        Scan code to join <span id="counter">{{players|length}}</span> other players!
    </p>
  </div>
  <div class="panel-footer">
  {% if not game.anonymous %}
    <div id="lobby">
    {% for player in players%}
      <div class="chip"><figure class="avatar avatar-sm" style="background-color: {{player.color}}"></figure>{{player.name}}</div>
    {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}