{% extends 'view/base.html' %}
{% block head %}{% endblock %}
{% block title %}Quizzer Results {{game.code}}{% endblock %}

{% block content %}
    <div class="panel">
      <div class="panel-header text-center">
        <i class="fas fa-trophy h1"></i>
        <div class="panel-title h4">{{game.title}}</div>
        <div class="panel-subtitle h6 text-gray">{{game.body}}</div>
      </div>
      <div class="panel-body columns">
        {% for question in questions%}
        <div class="column col-1 mb-2"><h3>{{loop.index}}.</h3></div>
        <div class="column col-10 mb-2">
            {#<div class="bar bar-lg">
            <div class="bar-item" data-name="{{question.answer}}" data-points="{{player.points}}/{{game.questions}}" data-percent="{{player.points/game.questions*100}}" style="width: 0"></div>
            </div>#}
            <div class="text-bold">{{question.title|safe}}</div>
            <div class="text-small">{{question.answer}}</div>
            <div></div>
        </div>
        <div class="column col-1 mb-2">
            <span class="text-bold h3 {% if (question.correct/players) < 0.5 -%}
        text-error
        {%- elif (question.correct/players) > 0.8 -%}
        text-success
        {%- else -%}
        text-warning
        {%- endif -%}
        ">
            {{ '{:.0%}'.format(question.correct/players) }}
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}