{% extends 'view/base.html' %}
{% block head %}{% endblock %}
{% block title %}Quizzer Results {{game.code}}{% endblock %}

{% block content %}
    <div class="panel">
      <div class="panel-header text-center">
        <i class="fas fa-trophy h1"></i>
        <div class="panel-title h4">{{game.title}}</div>
        <div class="panel-subtitle h6 text-gray">{{game.body}}</div>
      </div>
      <div class="panel-body columns">
        {% for player in players%}
        <div class="column col-1"><h3>{{player.place}}.</h3></div>
        <div class="column col-10">
            <div class="bar bar-lg">
            <div class="bar-item" data-name="{{player.name}}" data-points="{{player.points}}/{{game.questions}}" data-percent="{{player.points/game.questions*100}}" style="background-color: {{player.color}}; width: 0"></div>
            </div>
        </div>
        <div class="column col-1 "></div>
        {% endfor %}
    </div>
</div>
{% endblock %}