{% extends 'admin/base.html' %}
{% block head %}

{% endblock %}
{% block title %}Quizzer - Edit quiz{% endblock %}

{% block content %}
    <div class="panel">
      <div class="panel-header text-center">
        <h2><i class="fas fa-list"></i> Edit quiz</h2>
        <div class="input-group">
          <label class="form-switch">
            <input type="checkbox" name="public"{% if quiz.public %} checked{% endif %}>
            <i class="form-icon"></i> Public quiz
          </label>
          <input type="text" name="title" class="form-input" placeholder="Quiz Title" value="{{quiz.title}}">
        </div>
        <div>
          <input type="text" name="body" class="form-input" placeholder="Quiz Description" value="{{quiz.body}}">
        </div>
      </div>

      <div class="panel-footer text-right">
        <a href="{{url_for('admin.index', _anchor='quiz')}}" class="btn btn-small btn-secondary"><i class="far fa-home"></i> Back</a>
      </div>

      <div id="questions" class="panel-body">

  {% for question in questions %}
  {% set oloop = loop %}
  <div data-qid="{{question.id}}" data-question="{{loop.index}}" class="card question mt-1">
    <div class="card-header">
      <div class="card-subtitle text-gray">Question {{loop.index}}</div>
      <div class="card-title h5">
        <input type="text" name="question-{{loop.index}}" class="form-input old" placeholder="Question" value="{{question.title}}">
      </div>
    </div>
    <div class="card-body container">
      <div class="answers-{{loop.index}}" class="columns">
        {%- for answer in answers[question.id] -%}
        <div class="answer column py-1 col-sm-6 col-lg-3 text-left input-group" data-question="{{loop.index}}" data-answer="{{answer.id}}">
          <span class="input-group-addon">
            <input type="checkbox" name="correct-{{oloop.index}}" data-answer="{{answer.id}}"{%- if answer.correct %} checked{%- endif -%}>
          </span>
          <input type="text" data-answer="{{answer.id}}" class="form-input" name="answer-{{oloop.index}}" placeholder="Answer" value="{{answer.title}}">
          <button class="btn del_answer btn-error input-group-btn old" data-question="{{oloop.index}}" data-answer="{{answer.id}}" >
            <i class="fas fa-trash"></i>
          </button>
        </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="card-footer text-right">
      <button data-question="{{loop.index}}" class="add_answer btn btn-sm btn-primary input-group-btn">
        <i class="fas fa-plus"></i> Add answer
      </button>
      <button data-question="{{loop.index}}" data-qid="{{question.id}}" class="del_question old btn btn-sm btn-error input-group-btn">
        <i class="fas fa-trash"></i> Delete question
      </button>
    </div>
  </div>

{%- endfor -%}
</div>

      <div class="panel-footer text-right">
        <button class="btn btn-primary" id="add_question"><i class="fas fa-plus"></i> Add question</button>
      </div>
      <div class="panel-footer text-right">
        <a href="{{url_for('admin.index', _anchor='quiz')}}" class="btn btn-secondary"><i class="far fa-home"></i> Back</a>
        <button class="btn btn-primary" id="change_quiz"><i class="far fa-save"></i> Save</button>
      </div>

</div>

<form id="form" action="{{url_for('admin.change_quiz', quiz_id=quiz.id)}}", method="POST"></form>
{% endblock %}