{% extends 'admin/base.html' %}
{% block head %}{% endblock %}
{% block title %}Quizzer Questions {{quiz.title}}{% endblock %}

{% block content %}
    <div class="panel">
      <div class="panel-header text-center">
        <i class="fas fa-list h1"></i>
        <div class="panel-title h4">{{quiz.title}}</div>
        <div class="panel-subtitle h6 text-gray">{{quiz.body}}</div>
      </div>
      <div class="panel-body">
        {% for question in questions %}
        <div class="card mt-1">
          <div class="card-header">
            <button data-tooltip="Edit question {{loop.index}}" class="btn btn-primary tooltip tooltip-left float-right"><i class="fas fa-edit"></i></button>
            <div class="card-subtitle text-gray">Question {{loop.index}}</div>
            <div class="card-title h5">{{question.title}}</div>
          </div>
          <div class="card-body container">
            <div class="columns">
            {% for answer in answers[question.id] %}
            <div class="column col-sm-6 col-lg-3 {% if answer.correct %}text-bold{% endif %} text-left">{% if answer.correct %}<i class="far fa-check-square"></i>{% else %}<i class="far fa-square"></i>{% endif %} {{answer.title}}</div>
            {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="panel-footer text-center">
      </div>
</div>
{% endblock %}