{% extends 'admin/base.html' %}
{% block title %}Quiz running...{% endblock %}

{% block content %}
<div class="panel">
  <div class="panel-header text-center">
    <div class="panel-title h5">{{game.title}}</div>
    <div class="panel-subtitle h6 text-gray">{{game.body}}</div>
    <progress class="progress" value="{{game.progress+1}}" max="{{game.questions}}"></progress>
  </div>
  <div class="panel-body">
    <div class="h4 text-center">
        {{question.title|safe}}
    </div>
    {% for answer in answers %}
        <div class="{%- if answer.correct -%}text-success text-bold{%- else -%}text-primary{%- endif -%}"><b>{{"ABCDEFGHIJ"[loop.index0]}}:</b> <span id="answer-{{answer.id}}" class="badge" data-badge="{{ answer.guesses if answer.guesses > 0 }}">{{answer.title}}</span></div>
    {% endfor %}
  </div>
  <div class="panel-footer">
    <div class="form-group">
      <div class="input-group">
        {%- if game.status == 0 -%}
        <button data-timer="-1" class="enable_answers btn btn-lg btn-block btn-primary input-group-btn"><i class="fas fa-clock"></i> &infin;</button>
        <button data-timer="10" class="enable_answers btn btn-lg btn-block btn-primary input-group-btn"><i class="fas fa-clock"></i> 10</button>
        <button data-timer="20" class="enable_answers btn btn-lg btn-block btn-primary input-group-btn"><i class="fas fa-clock"></i> 20</button>
        <button data-timer="30" class="enable_answers btn btn-lg btn-block btn-primary input-group-btn"><i class="fas fa-clock"></i> 30</button>
        <button data-timer="60" class="enable_answers btn btn-lg btn-block btn-primary input-group-btn"><i class="fas fa-clock"></i> 60</button>
        {%- elif game.status == 1 -%}
        <button id="disable_answers" class="btn btn-block btn-primary input-group-btn"><i class="fas fa-pause"></i> Disable answers</button>
        {%- elif game.status == 2 -%}

        <button id="show_results" class="btn btn-block btn-primary input-group-btn"><i class="fas fa-chart-bar"></i> Show results</button>

          {%- if game.progress+1 == game.questions -%}
          <button id="finish_game" class="btn btn-block btn-primary input-group-btn"><i class="fas fa-check-square"></i> Finish</button>
          {%- else -%}
          <button id="next_question" class="btn btn-block btn-primary input-group-btn"><i class="fas fa-chevron-right"></i> Next question</button>
          {%- endif -%}

        {%- endif -%}
      </div>
      <div class="form-group mt-2 text-center">
        <button id="restart_game" class="btn btn-sm btn-primary"><i class="fas fa-undo"></i> Restart</button>
        <button id="reset_game" class="btn btn-sm btn-primary"><i class="fas fa-recycle"></i> Reset</button>
        <button id="finish_game" class="btn btn-sm btn-primary"><i class="fas fa-check-square"></i> Finish</button>
        <button id="show_players" class="btn btn-sm btn-primary disabled"><i class="fas fa-users"></i> Players</button>
        <a href="{{url_for('admin.index', _anchor='game')}}" class="btn btn-sm btn-primary"><i class="fas fa-list"></i> Menu</a>
      </div>

      <div class="form-group mt-2 text-center">
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-bullhorn"></i></span>
          <input type="text" id="msg" class="form-input" placeholder="Message">
          <button id="send_msg" class="btn btn-primary input-group-btn">Send</button>
        </div>
      </div>

    </div>
  </div>

<div class="modal modal-sm" id="options-modal">
  <a class="modal-overlay modal-close" aria-label="Close"></a>
  <div class="modal-container">
    <div class="modal-header">
      <a href="#close" class="btn btn-clear float-right modal-close" aria-label="Close"></a>
      <div class="modal-title h5"></div>
    </div>
    <div class="modal-body">
      <div class="content text-center">

        <div class="input-group">
<span class="input-group-addon"><i class="fas fa-play"></i></span>
      <button data-timer="-1" class="enable_answers btn btn-lg btn-block btn-primary input-group-btn"><i class="fas fa-clock"></i> &infin;</button>
        </div>

      </div>
    </div>
    <div class="modal-footer text-left">
      <small class="text-gray"></small>
    </div>
  </div>
</div>
{% endblock %}