{% extends 'admin/base.html' %}
{% block title %}Author area - Quizzer{% endblock %}

{% block content %}
<div class="panel pb-2">
  <div class="panel-header text-center">
        <h2><i class="fas fa-tachometer-alt"></i> Quizzer Author Panel</h2>
  </div>
  <div class="panel-nav">
    <ul class="tab tab-block">
      <li class="tab-item">
        <a href="#game" class="badge" for="game" data-badge="{{games|length}}"><i class="fas fa-gamepad"></i> Games</a>
      </li>
      <li class="tab-item">
        <a href="#quiz" class="badge" for="quiz" data-badge="{{quizzes|length}}"><i class="fas fa-file-alt"></i> Quizzes</a>
      </li>
      <li class="tab-item">
        <a href="#user" for="user"><i class="fas fa-user"></i> {{g.author.name}}</a>
      </li>
      <li class="tab-item">
        <a href="{{ url_for('admin.logout') }}"><i class="fas fa-power-off"></i> Logout</a>
      </li>
    </ul>
  </div>


  <div id="game" class="tab_content panel-body">
{% for game in games %}
<div class="tile tile-centered mt-2">
  <div class="tile-content">
    <div class="tile-title text-bold">
        {% if game.ended %}<i class="fas fa-door-closed"></i>
        {% elif game.started %}<i class="fas fa-play text-success"></i>
        {% else %}<i class="fas fa-door-open"></i>
        {% endif %}
        {{game.title}}
        <small class="tile-subtitle text-gray">{{game.body}}</small>
    </div>
    <div><small class="tile-subtitle text-gray">
      {% if game.anonymous %}<i class="far fa-user-secret fa-fw" alt="Anonymous users" title="Anonymous users"></i>
      {% else %} <i class="fas fa-user fa-fw" alt="Named users" title="Named users"></i> {% endif %}·
      {{game.players}} players ·
      created {{game.created}}
    </small></div>
  </div>
  <div class="tile-action">

    <a class="qrshow btn btn-link tooltip tooltip-left" data-qrcode="{{game.code}}" data-tooltip="QRcode {{game.code}}">
      <i class="fas fa-fw fa-qrcode"></i>
    </a>
    {% if not game.started %}
    <a href="{{url_for('admin.show_game', game_code=game.code)}}" class="btn btn-link tooltip tooltip-left" data-tooltip="Start game">
      <i class="fas fa-fw fa-play"></i>
    </a>
    {% elif game.ended %}
    <a href="{{url_for('admin.show_game', game_code=game.code)}}" class="btn btn-link tooltip tooltip-left" data-tooltip="Show results">
      <i class="fas fa-fw fa-chart-bar"></i>
    </a>
    {% else %}
    <a href="{{url_for('admin.show_game', game_code=game.code)}}" class="btn btn-link tooltip tooltip-left" data-tooltip="Moderate game">
      <i class="fas fa-fw fa-microphone-stand"></i>
    </a>
    {% endif %}

    <a href="{{url_for('view.index', game_code=game.code)}}" class="btn btn-link tooltip tooltip-left" target="_blank" data-tooltip="Spectator view">
      <i class="fas fa-fw fa-tv"></i>
    </a>
    <a href="{{url_for('admin.del_game', game_id=game.id)}}" class="btn btn-link text-error tooltip tooltip-left" data-tooltip="Delete game">
      <i class="fas fa-fw fa-trash"></i>
    </a>

  </div>
</div>
{% endfor %}

{% if not games %}
<div class="empty my-2">
  <div class="empty-icon">
    <i class="far fa-file h1"></i>
  </div>
  <p class="empty-title h5">There are no games yet :(</p>
  <p class="empty-subtitle">You can start a quiz from the Quizzes tab.</p>
  <div class="empty-action">
    <button class="btn btn-primary">Start a quiz</button>
  </div>
</div>
{% endif %}

  </div>
  <div id="quiz" class="tab_content panel-body">


{% for quiz in quizzes %}
<div class="tile tile-centered mt-2">
  <div class="tile-content">
    <div class="tile-title text-bold">{{quiz.title}} <small class="tile-subtitle text-gray">{{quiz.body}}</small>
    </div>
    <div>
      <small class="tile-subtitle text-gray">
        {% if quiz.public %}<i class="fas fa-globe"></i>{% else %}<i class="fas fa-user"></i>{% endif %} ·
        by {{quiz.author}} · {{quiz.questions}} Questions · {{quiz.played}}x played

      </small>
    </div>
  </div>
  <div class="tile-action">
    <a href="{{url_for('admin.create_game', quiz_id=quiz.id)}}" class="tooltip btn btn-link tooltip-left" data-tooltip="Create regular game"><i class="fas fa-plus-square"></i></a>
    <a href="{{url_for('admin.create_anonym', quiz_id=quiz.id)}}" class="tooltip btn btn-link tooltip-left" data-tooltip="Create anonym game"><i class="fas fa-user-secret"></i></a>

    {% if quiz.author == g.author.name %}

    <a href="{{url_for('admin.edit_quiz', quiz_id=quiz.id)}}" class="tooltip btn btn-link tooltip-left" data-tooltip="Edit quiz"><i class="fas text-gray fa-edit"></i></a>

    <a href="{{url_for('admin.del_quiz', quiz_id=quiz.id)}}" class="tooltip btn btn-link tooltip-left" data-tooltip="Delete quiz"><i class="text-error fas fa-trash"></i></a>
    {% else %}

      <span class="disabled text-gray btn btn-link c-not-allowed"><i class="fas fa-edit"></i></span>

      <span class="disabled text-error btn btn-link c-not-allowed"><i class="fas fa-trash"></i></span>
    {% endif %}
  </div>
</div>
{% endfor %}
{% if not quizzes %}
<div class="empty my-2">
  <div class="empty-icon">
    <i class="far fa-file h1"></i>
  </div>
  <p class="empty-title h5">There are no quizzes yet :(</p>
  <p class="empty-subtitle">Click the button to create a quiz.</p>
  <div class="empty-action">
    <a class="btn btn-primary" href="{{url_for('admin.new_quiz')}}">Create a quiz</a>
  </div>
</div>

{% else %}
<div class="panel-footer float-right">
    <a class="btn btn-primary" href="{{url_for('admin.new_quiz')}}"><i class="fas fa-plus-square"></i> New quiz</a>
</div>
{% endif %}


  </div>
  <div id="user" class="tab_content panel-body">
    <!-- contents -->
<div class="empty my-2">
  <div class="empty-icon">
    <i class="fas fa-toolbox h1"></i>
  </div>
  <p class="empty-title h5">Work in progress</p>
  <p class="empty-subtitle">Nothing to see here!</p>
  {#<div class="empty-action">
    <a class="btn btn-primary" href="{{url_for('admin.new_quiz')}}">Create a quiz</a>
  </div>#}
</div>
  </div>
<!--   <div class="panel-footer">
    buttons or inputs
  </div> -->
</div>

<div class="modal modal-sm" id="qr-modal">
  <a class="modal-overlay modal-close" aria-label="Close"></a>
  <div class="modal-container">
    <div class="modal-header">
      <a href="#close" class="btn btn-clear float-right modal-close" aria-label="Close"></a>
      <div class="modal-title h5"></div>
    </div>
    <div class="modal-body">
      <div class="content text-center">
      </div>
    </div>
    <div class="modal-footer text-left">
      <small class="text-gray"></small>
    </div>
  </div>
</div>
{% endblock %}