{% extends 'admin/base.html' %}
{% block head %}{% endblock %}
{% block title %}Quizzer Lobby {{game.code}}{% endblock %}

{% block content %}
<div class="panel text-center">
  <div class="panel-header">
    <i class="fas fa-users h1"></i>
    <div class="panel-title h4">{{game.title}}</div>
    <div class="panel-subtitle h6 text-gray">{{game.body}}</div>
  </div>

  <div class="panel-body">
    <h2 class="text-bold"><span id="counter">{{players|length}}</span> Players connected</h2>
  {% if not game.anonymous %}
  <div id="lobby">
    {% for p in players%}
    <div class="chip" style="background-color: {{p.color}}">
      {{p.name}} <a data-name="{{p.name}}" class="btn btn-clear remove" aria-label="Close" role="button"></a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  </div>
  <div class="panel-footer text-center">
    <a href="{{url_for('admin.start_game', game_id=game.id)}}" class="btn btn-lg btn-primary"><i class="fas fa-play"></i> Start game</a>
    <div class="p-2">
      <a href="{{url_for('admin.index', game_id=game.id)}}" class="btn btn-sm btn-secondary"><i class="fas fa-home"></i> back</a>
      <button id="reset_game" class="btn btn-sm btn-secondary"><i class="fas fa-recycle"></i> Reset game</button>
    </div>
  </div>
      <div class="form-group mt-2 text-center">
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-bullhorn"></i></span>
          <input type="text" id="msg" class="form-input" placeholder="Message">
          <button id="send_msg" class="btn btn-primary input-group-btn">Send</button>
        </div>

      </div>
</div>
{% endblock %}