{% extends 'admin/base.html' %}

{% block header %}
  <h1>{% block title %}Quizzer: Login{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel">
  <form method="post">
  <div class="panel-header text-center">
    <i class="fas fa-toolbox h1"></i>
    <div class="panel-title h3 mt-10">Quizzer</div>
    <div class="panel-subtitle text-gray">Author Panel Login</div>
  </div>
  <div class="panel-body">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-fw fa-user"></i></span>
          <input class="form-input" type="text" name="name" id="name" placeholder="Username" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-fw fa-key"></i></span>
          <input class="form-input" type="password" name="password" id="password" placeholder="Password" required>
        </div>
      </div>

  </div>
  <div class="panel-footer">
    <div class="form-group">
      <div class="input-group">
        <input class="btn btn-block" type="submit" value="Login">
      </div>
    </div>
    <div class="small text-right"><a href="{{url_for('admin.register')}}" class="btn btn-sm btn-secondary">Register</a></div>
  </div>
  </form>
</div>

{% endblock %}