{% extends 'admin/base.html' %}
{% block head %}

{% endblock %}
{% block title %}Quizzer -  New quiz{% endblock %}

{% block content %}
    <div class="panel">
      <div class="panel-header text-center">
        <h2><i class="fas fa-list"></i> New quiz</h2>
        <div class="input-group">
          <label class="form-switch">
            <input type="checkbox" name="public">
            <i class="form-icon"></i> Public quiz
          </label>
          <input type="text" name="title" class="form-input" placeholder="Quiz Title">
        </div>
        <div>
          <input type="text" name="body" class="form-input" placeholder="Quiz Description">
        </div>
      </div>

      <div class="panel-footer text-right">
        <a href="{{url_for('admin.index', _anchor='quiz')}}" class="btn btn-small btn-secondary"><i class="far fa-home"></i> Back</a>
      </div>

      <div id="questions" class="panel-body">


      </div>

      <div class="panel-footer text-right">
        <button class="btn btn-secondary" id="add_question"><i class="fas fa-plus"></i> Add question</button>

      </div>
      <div class="panel-footer text-right">
        <a href="{{url_for('admin.index', _anchor='quiz')}}" class="btn btn-secondary"><i class="far fa-home"></i> Back</a>
        <button class="btn btn-primary" id="add_quiz"><i class="far fa-save"></i> Save</button>
      </div>
</div>
<form id="form" action="{{url_for('admin.add_quiz')}}" method="POST"></form>
{% endblock %}