{% extends 'admin/base.html' %}

{% block header %}
  <h1>{% block title %}Quizzer: Register{% endblock %}</h1>
{% endblock %}

{% block content %}


<div class="panel">
  <form method="post">
  <div class="panel-header text-center">
    <i class="fas fa-toolbox h1"></i>
    <div class="panel-title h3 mt-10">Quizzer</div>
    <div class="panel-subtitle text-gray">Admin area registration</div>
  </div>
  <div class="panel-body">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-fw fa-user"></i></span>
          <input class="form-input" type="text" name="name" id="name" placeholder="Username" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-fw fa-envelope"></i></span>
          <input class="form-input" type="text" name="email" id="email" placeholder="Email" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-fw fa-key"></i></span>
          <input class="form-input" type="password" name="password" id="password" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-fw fa-key"></i></span>
          <input class="form-input" type="password" name="password2" id="password2" placeholder="Repeat password" required>
        </div>
      </div>

  </div>
  <div class="panel-footer">
    <div class="form-group">
      <div class="input-group">
        <input class="btn btn-block" type="submit" value="Register">
      </div>
    </div>
  </div>
  </form>
</div>

{% endblock %}