{% extends 'admin/base.html' %}
{% block head %}{% endblock %}
{% block title %}Quizzer Results {{game.code}}{% endblock %}

{% block content %}
<div class="panel">
  <div class="panel-header text-center">
    <i class="fas fa-trophy h1"></i>
    <div class="panel-title h4">{{game.title}}</div>
    <div class="panel-subtitle h6 text-gray">{{game.body}}</div>
  </div>
  <div class="panel-body">
    {% for player in players%}
    <div class="tile">
      <div class="tile-icon">
        <h1>{{loop.index}}.</h1>
      </div>
      <div class="tile-content">
        <p class="tile-title text-bold">{{player.name}}</p>
        <p class="tile-subtitle">
                          <div class="bar bar-sm">
            <div class="bar-item tooltip" data-tooltip="{{(player.points/game.questions*100)|round(2)}}%" style="width: {{player.points/game.questions*100}}%; background-color: {{player.color}}"></div>
          </div>
        </p>
      </div>
      <div class="tile-action">
          {{player.points}}/{{game.questions}}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="panel-footer text-center">
    <button id="reset_game" class="btn btn-sm btn-primary"><i class="fas fa-recycle"></i> Reset</button>
    <a href="{{url_for('admin.index', _anchor='game')}}" class="btn btn-sm btn-primary"><i class="fas fa-list"></i> Menu</a>
  </div>
        
      <div class="form-group mt-2 text-center">
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-bullhorn"></i></span>
          <input type="text" id="msg" class="form-input" placeholder="Message">
          <button id="send_msg" class="btn btn-primary input-group-btn">Send</button>
        </div>
      </div>
</div>
{% endblock %}